In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pathlib as path

In [2]:
#Import CSV
aggregate = pd.read_csv('Resources/PROV_US_AGGREGATE20.CSV')
med_data = pd.DataFrame(aggregate)
med_data.head()

,Code,Item,Group,Region_Number,REGION_NAME,State_Name,Y1980,Y1981,Y1982,Y1983,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Average_Annual_Percent_Growth
0,1,Personal Health Care (Millions of Dollars),United States,0,United States,NaN,214321,248626,279493,308006,...,2346962,2405667,2527325,2674089,2795322,2905160,3021796,3175230,3357832,7.1
1,1,Personal Health Care (Millions of Dollars),Region,1,New England,NaN,12830,14696,16591,18253,...,138949,142116,147335,155204,161570,166222,172908,180314,189004,7.0
2,1,Personal Health Care (Millions of Dollars),State,1,New England,Connecticut,3135,3612,4134,4587,...,33053,33864,35243,36774,38059,38987,40587,42192,44372,6.8
3,1,Personal Health Care (Millions of Dollars),State,1,New England,Maine,975,1113,1259,1388,...,11254,11325,11759,12356,12940,13489,14273,15037,15912,7.2
4,1,Personal Health Care (Millions of Dollars),State,1,New England,Massachusetts,6681,7622,8528,9306,...,68298,69806,72256,76803,80436,82772,86111,89902,93737,6.8

In [3]:
med_data.rename(columns = {'Region_Number': 'Region(#)', 'REGION_NAME': 'Region', 'State_Name': 'State'}, inplace = True)
med_data.head()

,Code,Item,Group,Region(#),Region,State,Y1980,Y1981,Y1982,Y1983,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Average_Annual_Percent_Growth
0,1,Personal Health Care (Millions of Dollars),United States,0,United States,NaN,214321,248626,279493,308006,...,2346962,2405667,2527325,2674089,2795322,2905160,3021796,3175230,3357832,7.1
1,1,Personal Health Care (Millions of Dollars),Region,1,New England,NaN,12830,14696,16591,18253,...,138949,142116,147335,155204,161570,166222,172908,180314,189004,7.0
2,1,Personal Health Care (Millions of Dollars),State,1,New England,Connecticut,3135,3612,4134,4587,...,33053,33864,35243,36774,38059,38987,40587,42192,44372,6.8
3,1,Personal Health Care (Millions of Dollars),State,1,New England,Maine,975,1113,1259,1388,...,11254,11325,11759,12356,12940,13489,14273,15037,15912,7.2
4,1,Personal Health Care (Millions of Dollars),State,1,New England,Massachusetts,6681,7622,8528,9306,...,68298,69806,72256,76803,80436,82772,86111,89902,93737,6.8

In [4]:
med_data.rename(columns = {'Y1980': '1980', 'Y1981': '1981', 'Y1982': '1982', 'Y1983': '1983',\
                          'Y1984': '1984', 'Y1985': '1985', 'Y1986': '1986', \
                          'Y1988': '1988', 'Y1989': '1989', 'Y1990': '1990', \
                          'Y1991': '1991', 'Y1992': '1992', 'Y1993': '1993', \
                          'Y1994': '1994', 'Y1995': '1995', 'Y1996': '1996', \
                          'Y1997': '1997', 'Y1998': '1998', 'Y1999': '1999', \
                          'Y2000': '2000', 'Y2001': '2001', 'Y2002': '2002', \
                          'Y2003': '2003', 'Y2004': '2004', 'Y2005': '2005', \
                          'Y2006': '2006', 'Y2007': '2007', 'Y2008': '2008', \
                          'Y2009': '2009', 'Y2010': '2010', 'Y2011': '2011', \
                          'Y2012': '2012', 'Y2013': '2013', 'Y2014': '2014', \
                          'Y2015': '2015', 'Y2016': '2016', 'Y2017': '2017', \
                          'Y2018': '2018', 'Y2019': '2019', 'Y2020': '2020', \
                          'Y2021': '2021', 'Y2022': '2022', 'Y1987': '1987'
                         
                        }, inplace = True)
med_data.head()

,Code,Item,Group,Region(#),Region,State,1980,1981,1982,1983,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Average_Annual_Percent_Growth
0,1,Personal Health Care (Millions of Dollars),United States,0,United States,NaN,214321,248626,279493,308006,...,2346962,2405667,2527325,2674089,2795322,2905160,3021796,3175230,3357832,7.1
1,1,Personal Health Care (Millions of Dollars),Region,1,New England,NaN,12830,14696,16591,18253,...,138949,142116,147335,155204,161570,166222,172908,180314,189004,7.0
2,1,Personal Health Care (Millions of Dollars),State,1,New England,Connecticut,3135,3612,4134,4587,...,33053,33864,35243,36774,38059,38987,40587,42192,44372,6.8
3,1,Personal Health Care (Millions of Dollars),State,1,New England,Maine,975,1113,1259,1388,...,11254,11325,11759,12356,12940,13489,14273,15037,15912,7.2
4,1,Personal Health Care (Millions of Dollars),State,1,New England,Massachusetts,6681,7622,8528,9306,...,68298,69806,72256,76803,80436,82772,86111,89902,93737,6.8

In [5]:
med_data.rename(columns = {'Average_Annual_Percent_Growth': 'Avg An Growth(%)'}, inplace = True)
med_data

,Code,Item,Group,Region(#),Region,State,1980,1981,1982,1983,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Avg An Growth(%)
0,1,Personal Health Care (Millions of Dollars),United States,0,United States,NaN,214321,248626,279493,308006,...,2346962,2405667,2527325,2674089,2795322,2905160,3021796,3175230,3357832,7.1
1,1,Personal Health Care (Millions of Dollars),Region,1,New England,NaN,12830,14696,16591,18253,...,138949,142116,147335,155204,161570,166222,172908,180314,189004,7.0
2,1,Personal Health Care (Millions of Dollars),State,1,New England,Connecticut,3135,3612,4134,4587,...,33053,33864,35243,36774,38059,38987,40587,42192,44372,6.8
3,1,Personal Health Care (Millions of Dollars),State,1,New England,Maine,975,1113,1259,1388,...,11254,11325,11759,12356,12940,13489,14273,15037,15912,7.2
4,1,Personal Health Care (Millions of Dollars),State,1,New England,Massachusetts,6681,7622,8528,9306,...,68298,69806,72256,76803,80436,82772,86111,89902,93737,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,11,Other Non-durable Medical Products (Millions o...,State,8,Far West,California,923,1071,1201,1330,...,8161,8434,8809,9468,9902,10136,10588,11203,11982,6.6
656,11,Other Non-durable Medical Products (Millions o...,State,8,Far West,Hawaii,50,57,65,77,...,316,346,379,424,468,506,519,542,577,6.3
657,11,Other Non-durable Medical Products (Millions o...,State,8,Far West,Nevada,39,44,48,52,...,801,757,735,742,717,696,725,748,785,7.8
658,11,Other Non-durable Medical Products (Millions o...,State,8,Far West,Oregon,106,119,128,140,...,591,609,636,684,717,742,778,813,866,5.4
659,11,Other Non-durable Medical Products (Millions o...,State,8,Far West,Washington,148,174,198,222,...,1038,1105,1195,1303,1410,1507,1593,1676,1766,6.4

In [6]:
# Drop columns we don't need
list = ['Code', 'Region(#)', 'Region']
med_data = med_data.drop(list, axis = "columns")
med_data.head()

,Item,Group,State,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Avg An Growth(%)
0,Personal Health Care (Millions of Dollars),United States,NaN,214321,248626,279493,308006,337879,372633,405373,...,2346962,2405667,2527325,2674089,2795322,2905160,3021796,3175230,3357832,7.1
1,Personal Health Care (Millions of Dollars),Region,NaN,12830,14696,16591,18253,20068,21840,24126,...,138949,142116,147335,155204,161570,166222,172908,180314,189004,7.0
2,Personal Health Care (Millions of Dollars),State,Connecticut,3135,3612,4134,4587,5083,5551,6171,...,33053,33864,35243,36774,38059,38987,40587,42192,44372,6.8
3,Personal Health Care (Millions of Dollars),State,Maine,975,1113,1259,1388,1512,1640,1779,...,11254,11325,11759,12356,12940,13489,14273,15037,15912,7.2
4,Personal Health Care (Millions of Dollars),State,Massachusetts,6681,7622,8528,9306,10202,11005,12099,...,68298,69806,72256,76803,80436,82772,86111,89902,93737,6.8

In [7]:
# Filter 'Group' column to just show state
med_data.dropna(subset=['State'], inplace = True)
med_data

,Item,Group,State,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Avg An Growth(%)
2,Personal Health Care (Millions of Dollars),State,Connecticut,3135,3612,4134,4587,5083,5551,6171,...,33053,33864,35243,36774,38059,38987,40587,42192,44372,6.8
3,Personal Health Care (Millions of Dollars),State,Maine,975,1113,1259,1388,1512,1640,1779,...,11254,11325,11759,12356,12940,13489,14273,15037,15912,7.2
4,Personal Health Care (Millions of Dollars),State,Massachusetts,6681,7622,8528,9306,10202,11005,12099,...,68298,69806,72256,76803,80436,82772,86111,89902,93737,6.8
5,Personal Health Care (Millions of Dollars),State,New Hampshire,672,795,912,1015,1138,1294,1481,...,11497,11781,12086,12585,13091,13656,14255,14826,15631,8.2
6,Personal Health Care (Millions of Dollars),State,Rhode Island,982,1107,1238,1393,1535,1699,1867,...,9425,9582,10047,10510,10756,10917,11110,11619,12361,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Other Non-durable Medical Products (Millions o...,State,California,923,1071,1201,1330,1458,1572,1713,...,8161,8434,8809,9468,9902,10136,10588,11203,11982,6.6
656,Other Non-durable Medical Products (Millions o...,State,Hawaii,50,57,65,77,85,94,106,...,316,346,379,424,468,506,519,542,577,6.3
657,Other Non-durable Medical Products (Millions o...,State,Nevada,39,44,48,52,56,60,65,...,801,757,735,742,717,696,725,748,785,7.8
658,Other Non-durable Medical Products (Millions o...,State,Oregon,106,119,128,140,149,155,166,...,591,609,636,684,717,742,778,813,866,5.4
659,Other Non-durable Medical Products (Millions o...,State,Washington,148,174,198,222,241,262,291,...,1038,1105,1195,1303,1410,1507,1593,1676,1766,6.4

In [8]:
# Export to csv
med_data.to_csv("Resources/med_data.csv", index=False)

In [9]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [10]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [11]:
# assign the uk_food database to a variable name
db = mongo['project_3']

In [12]:
# review the collections in our new database
print(db.list_collection_names())

['med_data']

In [13]:
# assign the collection to a variable
med_data = db['med_data']

In [14]:
# Print one entry
pprint(db.med_data.find_one())

{'1980': 3135,
 '1981': 3612,
 '1982': 4134,
 '1983': 4587,
 '1984': 5083,
 '1985': 5551,
 '1986': 6171,
 '1987': 6946,
 '1988': 7964,
 '1989': 9096,
 '1990': 10032,
 '1991': 10927,
 '1992': 11673,
 '1993': 12297,
 '1994': 12888,
 '1995': 13740,
 '1996': 14206,
 '1997': 15019,
 '1998': 15934,
 '1999': 16735,
 '2000': 17625,
 '2001': 18989,
 '2002': 20446,
 '2003': 21559,
 '2004': 23380,
 '2005': 24368,
 '2006': 25838,
 '2007': 27326,
 '2008': 28876,
 '2009': 30866,
 '2010': 31444,
 '2011': 31849,
 '2012': 33053,
 '2013': 33864,
 '2014': 35243,
 '2015': 36774,
 '2016': 38059,
 '2017': 38987,
 '2018': 40587,
 '2019': 42192,
 '2020': 44372,
 'Avg An Growth(%)': 6.8,
 'Group': 'State',
 'Item': 'Personal Health Care (Millions of Dollars)',
 'State': 'Connecticut',
 '_id': ObjectId('65b307708284508cb9bc7e57')}

In [15]:
# Print all entries
query = {'Group': 'State'}
med_data_all = med_data.find(query)
med_data_all_df = pd.DataFrame(med_data_all)
med_data_all_df.head()

,_id,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,Item,Group,State,Avg An Growth(%)
0,65b307708284508cb9bc7e57,3135,3612,4134,4587,5083,5551,6171,6946,7964,...,36774,38059,38987,40587,42192,44372,Personal Health Care (Millions of Dollars),State,Connecticut,6.8
1,65b307708284508cb9bc7e58,975,1113,1259,1388,1512,1640,1779,1969,2268,...,12356,12940,13489,14273,15037,15912,Personal Health Care (Millions of Dollars),State,Maine,7.2
2,65b307708284508cb9bc7e59,6681,7622,8528,9306,10202,11005,12099,13485,15378,...,76803,80436,82772,86111,89902,93737,Personal Health Care (Millions of Dollars),State,Massachusetts,6.8
3,65b307708284508cb9bc7e5a,672,795,912,1015,1138,1294,1481,1733,1954,...,12585,13091,13656,14255,14826,15631,Personal Health Care (Millions of Dollars),State,New Hampshire,8.2
4,65b307708284508cb9bc7e5b,982,1107,1238,1393,1535,1699,1867,2028,2231,...,10510,10756,10917,11110,11619,12361,Personal Health Care (Millions of Dollars),State,Rhode Island,6.5

In [16]:
# Print column names
print("Column Names:")
print(med_data_all_df.columns)

Column Names:
Index(['_id', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', 'Item', 'Group',
       'State', 'Avg An Growth(%)'],
      dtype='object')

In [17]:
#New order of columns
new_order = ['_id', 'State', 'Group', 'Item', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020']

# Create a new DataFrame with columns in the desired order
med_data_all_df_reorder = med_data_all_df[new_order]
med_data_all_df_reorder.head()

,_id,State,Group,Item,1980,1981,1982,1983,1984,1985,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,65b307708284508cb9bc7e57,Connecticut,State,Personal Health Care (Millions of Dollars),3135,3612,4134,4587,5083,5551,...,31849,33053,33864,35243,36774,38059,38987,40587,42192,44372
1,65b307708284508cb9bc7e58,Maine,State,Personal Health Care (Millions of Dollars),975,1113,1259,1388,1512,1640,...,11040,11254,11325,11759,12356,12940,13489,14273,15037,15912
2,65b307708284508cb9bc7e59,Massachusetts,State,Personal Health Care (Millions of Dollars),6681,7622,8528,9306,10202,11005,...,66222,68298,69806,72256,76803,80436,82772,86111,89902,93737
3,65b307708284508cb9bc7e5a,New Hampshire,State,Personal Health Care (Millions of Dollars),672,795,912,1015,1138,1294,...,11163,11497,11781,12086,12585,13091,13656,14255,14826,15631
4,65b307708284508cb9bc7e5b,Rhode Island,State,Personal Health Care (Millions of Dollars),982,1107,1238,1393,1535,1699,...,9196,9425,9582,10047,10510,10756,10917,11110,11619,12361

In [18]:
# Drop columns we don't need
list = ['_id', 'Group']
med_data_all_df_reorder = med_data_all_df_reorder.drop(list, axis = "columns")
med_data_all_df_reorder.head()

,State,Item,1980,1981,1982,1983,1984,1985,1986,1987,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Connecticut,Personal Health Care (Millions of Dollars),3135,3612,4134,4587,5083,5551,6171,6946,...,31849,33053,33864,35243,36774,38059,38987,40587,42192,44372
1,Maine,Personal Health Care (Millions of Dollars),975,1113,1259,1388,1512,1640,1779,1969,...,11040,11254,11325,11759,12356,12940,13489,14273,15037,15912
2,Massachusetts,Personal Health Care (Millions of Dollars),6681,7622,8528,9306,10202,11005,12099,13485,...,66222,68298,69806,72256,76803,80436,82772,86111,89902,93737
3,New Hampshire,Personal Health Care (Millions of Dollars),672,795,912,1015,1138,1294,1481,1733,...,11163,11497,11781,12086,12585,13091,13656,14255,14826,15631
4,Rhode Island,Personal Health Care (Millions of Dollars),982,1107,1238,1393,1535,1699,1867,2028,...,9196,9425,9582,10047,10510,10756,10917,11110,11619,12361

In [19]:
# Reshape the DataFrame into long format
med_data_long_df = pd.melt(med_data_all_df_reorder, id_vars=['State', 'Item'], var_name='Year', value_name='Spending')
med_data_long_df.head()

           State                                        Item  Year  Spending
0    Connecticut  Personal Health Care (Millions of Dollars)  1980      3135
1          Maine  Personal Health Care (Millions of Dollars)  1980       975
2  Massachusetts  Personal Health Care (Millions of Dollars)  1980      6681
3  New Hampshire  Personal Health Care (Millions of Dollars)  1980       672
4   Rhode Island  Personal Health Care (Millions of Dollars)  1980       982

In [20]:
unique_items = med_data_long_df["Item"].unique()

for item in unique_items:
    print(item)

Personal Health Care (Millions of Dollars)
Hospital Care (Millions of Dollars)
Physician & Clinical Services (Millions of Dollars)
Other Professional Services (Millions of Dollars)
Dental Services (Millions of Dollars)
Other Health, Residential, and Personal Care (Millions of Dollars)
Home Health Care (Millions of Dollars)
Nursing Home Care (Millions of Dollars)
Prescription Drugs (Millions of Dollars)
Durable Medical Products (Millions of Dollars)
Other Non-durable Medical Products (Millions of Dollars)

In [21]:
# Drop all the years and just show average growth rate
list = ['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '_id', 'Group']
med_data_all_df_2 = med_data_all_df.drop(list, axis = "columns")
med_data_all_df_2.head()

                                         Item          State  Avg An Growth(%)
0  Personal Health Care (Millions of Dollars)    Connecticut               6.8
1  Personal Health Care (Millions of Dollars)          Maine               7.2
2  Personal Health Care (Millions of Dollars)  Massachusetts               6.8
3  Personal Health Care (Millions of Dollars)  New Hampshire               8.2
4  Personal Health Care (Millions of Dollars)   Rhode Island               6.5

In [22]:
#New order of columns
new_order = ['State', 'Item', 'Avg An Growth(%)']

# Create a new DataFrame with columns in the desired order
med_data_all_df_2 = med_data_all_df_2[new_order]
med_data_all_df_2.head()

           State                                        Item  Avg An Growth(%)
0    Connecticut  Personal Health Care (Millions of Dollars)               6.8
1          Maine  Personal Health Care (Millions of Dollars)               7.2
2  Massachusetts  Personal Health Care (Millions of Dollars)               6.8
3  New Hampshire  Personal Health Care (Millions of Dollars)               8.2
4   Rhode Island  Personal Health Care (Millions of Dollars)               6.5

In [76]:
# Helpful links
# https://plotly.com/python/dropdowns/
# https://stackoverflow.com/questions/61750811/dropdown-menu-for-plotly-choropleth-map-plots
# https://community.plotly.com/t/how-to-modify-points-drawn-on-map-using-a-dropdown-menu/63807

import plotly.express as px
import pandas as pd
import json

# Load GeoJSON for US states
with open('Resources/us-states.json') as f:
    geojson_data = json.load(f)

# Define df
df = med_data_all_df_2

# Make list of items
items = df['Item'].unique().tolist()

# Create dropdown menu buttons
item_buttons = []
for item in items:
    args = [
        {
            'z': [df[df['Item'] == item]['Avg An Growth(%)'].astype(float).tolist()],
            'locations': [df[df['Item'] == item]['State'].tolist()],
            'text': [df[df['Item'] == item]['Item'].tolist()]
        },
    ]
    button = {
        'args': args,
        'label': item,
        'method': 'update'
    }
    item_buttons.append(button)

# Create initial choropleth map for the first item
selected_item = items[0]
filtered_data = df[df['Item'] == selected_item]
result_df = filtered_data[['State', 'Avg An Growth(%)']]

fig = px.choropleth(
    data_frame = result_df,
    geojson = geojson_data,
    locations = 'State',
    featureidkey = 'properties.name',
    color = 'Avg An Growth(%)',
    color_continuous_scale = 'Greens',
    scope = 'usa',
    labels = {'Avg An Growth(%)': 'Average Annual Growth (%)'},
)

# Add title
fig.update_layout(title_text = 'Choropleth Map for Healthcare Spending by State')

# Create dropdown menu
dropdown_menu = [
    {
        'buttons': item_buttons,
        'direction': 'down',
        'showactive': True,
        'x': 0.1,
        'xanchor': 'left',
        'y': 1.04,
        'yanchor': 'top'
    }
]

# Update layout with dropdown menu
fig.update_layout(
    updatemenus = dropdown_menu
)

# Save the figure as an HTML file
fig.write_html('health_spending_choropleth.html')